/* body,html{
  height: 100%;
  width: 100%;
  margin: 0;
} */


.custom-navbar {
  background-color: #663399;
}
.nav-link:hover {
  color: #212529; /* Darker shade of text color */
}
.custom-navbar .nav-link {
  color: white !important;
  margin-right: 30px;
  transition: color 0.3s ease; /* Smooth transition for color change */
}
.rounded-logo {
  border-radius: 50%; /* Makes the image round */
}
.custom-navbar .custom-button {
  color: white !important;
  border-color: white !important;
}

.custom-navbar .nav-link:hover {
  color: #ffc107 !important; /* Change the color on hover */
  text-decoration: none; /* Remove underline on hover */
}
.custom-navbar .navbar-brand {
  display: flex;
  align-items: center;
}
.brand-container {
  display: flex;
  align-items: center;
}


.website-name {
  font-size: 24px;
  margin-left: 20px; /* Add space between logo and website name */
  font-weight: bold;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font */
  animation: colorChange 5s infinite; /* Apply color change animation to the website name */
}


@keyframes colorChange {
  0% { color: #ffffff; } /* Start color (white) */
  25% { color: #ffd700; } /* Change to gold at 25% */
  50% { color: #ff69b4; } /* Change to hot pink at 50% */
  75% { color: #87cefa; } /* Change to light sky blue at 75% */
  100% { color: #ffffff; } /* Back to white at 100% */
}
.error {
  color: red;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  width: 500px;
  height: 100%;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pass-link {
  text-align: right;
  margin-top: -10px;
}

.pass-link a {
  color: #007bff;
  text-decoration: none;
}

.pass-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}
/* LOGINEND */